*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


.cabecalho {
    background-color: #583857;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho{
    padding: 24px 0;
}
.cabecalho-imagem{
    width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.sobre{
    background-image: linear-gradient(#6c0794, #268700);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-imagem{
    width: 25%;
    justify-content: center;
}

.sobre-div-conteudo{
    width: 35%;
}

.estudantes{
    background-color: #6c0794;
    color:white;
    padding:24px;
}
.estudante-imagem{
    width: 100px;
}
.estudante-icone{
    width:40px;
}






